
.container {
    max-width: 75%;
    margin: 10px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

.navbar{
    display: flex;
}

.dashboard-header h2 {
    font-size: 22px;
}

.dashboard-header nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.dashboard-header nav a svg {
    margin-right: 5px;
}

.search-container {
    display: flex;
    margin: 20px 0;
    align-items: center;
}

.search-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-btn, .fetch-btn {
    padding: 10px 15px;
    border: none;
    background-color: #1e40af;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
}

.fetch-btn {
    background-color: #007bff;
}

.loan-table {
    width: 100%;
    border-collapse: collapse;
}

.loan-table th, .loan-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.status-badge {
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

.status-badge.active {
    background-color: #d4edda;
    color: #155724;
}

.status-badge.pending {
    background-color: #fff3cd;
    color: #856404;
}

.status-badge.closed {
    background-color: #f8d7da;
    color: #721c24;
}

/* Pagination */
.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 10px;
    font-size: 16px;
}
