body {
    background-color: #629cb3; /* Light gray background */
    font-family: Arial, sans-serif;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 16px;
    background-color: white; /* White background for the table */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for a 3D effect */
    border-radius: 1px;
    overflow: hidden;
}

th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
